@import "/global.css";

@import "/components/button.css";
@import "/components/header.css";
@import "/components/navbar.css";
@import "/components/question-card.css";

.profile-div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.jojo {
  width: 250px;
  border-radius: 10px 150px;
}
