@import "/global.css";

@import "/components/button.css";
@import "/components/header.css";
@import "/components/navbar.css";
@import "/components/question-card.css";

.profile-div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 50px;
}

.profile-picture {
  width: 200px;
  border-radius: 130px;
  border: 4px solid bisque;
}

.about-me-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 50px 50px 50px;
  gap: 20px;
  position: relative;
}

.about-me-heading {
  position: absolute;
  top: -40px;
  left: 445px;
}

.about-me-text {
  width: 450px;
}

.counter-div {
  display: flex;
  justify-content: center;
  gap: 40px;
  height: 50px;
  margin-bottom: 70px;
}

.counter-content-style {
  width: 100px;
  height: 40px;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.counter-icons {
  width: 25px;
  height: 25px;
}

.settings-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  gap: 30px;
  position: relative;
}

.settings-header {
  position: absolute;
  top: -50px;
  left: 445px;
}

.settings-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
}

/* Ab hier aus dem Internet für den Dark-Mode Switch. Ist nur vorübergehend */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 2px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
