* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
}

button {
  padding: 15px 30px 15px 30px;
}

.header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  height: 100px;
  width: 100%;
}

.question-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  height: 400px;
  background-color: chocolate;
  gap: 40px;
  position: relative;
}

.bookmark-question-card {
  position: absolute;
  top: -5px;
  right: -8px;
}

.hashtags {
  list-style-type: none;
  position: absolute;
  display: flex;
  gap: 20px;
  background-color: aliceblue;
  left: 10px;
  bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar-div {
  position: fixed;
  bottom: 0;
  background-color: cadetblue;
  height: 80px;
  width: 100%;
}

.navbar-item-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
