.profile__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 50px;
}

.profile__picture {
  width: 150px;
  border-radius: 130px;
  border: 4px solid bisque;
}

.profile {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.profile__about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__about__text {
  width: 300px;
}
