.profile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 50px;
}

.profile__picture {
  width: 200px;
  border-radius: 130px;
  border: 4px solid bisque;
}

.profile__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 50px 50px 50px;
  gap: 20px;
  position: relative;
}

.profile__about__heading {
  position: absolute;
  top: -40px;
  left: 445px;
}

.profile__about__text {
  width: 450px;
}
