.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  gap: 30px;
  position: relative;
}

.settings__header {
  position: absolute;
  top: -50px;
  left: 445px;
}

.settings__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
}
