.settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-section {
  display: flex;
  justify-content: center;
}

.settings__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
