.navbar {
  position: fixed;
  bottom: 0;
  background-color: #f7a399;
  height: 80px;
  width: 100%;
}

.navbar__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
