.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  height: 400px;
  background-color: chocolate;
  gap: 80px;
  position: relative;
}

.card__bookmark {
  position: absolute;
  top: -8px;
  right: -15px;
}

.card__hashtags {
  list-style-type: none;
  position: absolute;
  display: flex;
  gap: 15px;
  left: 10px;
  bottom: 10px;
}

.card__hashtags__items {
  background-color: aliceblue;
  padding: 5px 10px;
  border-radius: 5px;
}
