form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 500px;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.form__input {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 5px;
}

.myButton {
  box-shadow: inset 0px 39px 0px -24px #e67a73;
  background-color: #e4685d;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 8px 8px;
  text-decoration: none;
  text-shadow: 1px 2px 1px #b23e35;
  align-self: center;
}
.myButton:hover {
  background-color: #eb675e;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.form__input--remaining {
  align-self: flex-end;
}
